.hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 0.3;
  }

   .bg-image {
      background-image: url("./assets/images/cdc-k0KRNtqcjfw-unsplash (1).jpg");
      /* filter: blur(2px); */
      /* -webkit-filter: blur(2px);  */
      height: 100%;
      background-position: center;
      /* background-repeat: no-repeat;  */
      background-size: cover;
   }